.styleTable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 150px; 
    width: 150px; 
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.styleCell {
    height: 50px; 
    width: 50px; 
}

li {
    list-style-type: none;
    text-align: center;
    height: 50px; 
    width: 50px; 
}

